---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Title from "../components/Title.astro";
import SecondaryTitle from '../components/SecondaryTitle.astro';
import WorkPlace from '../components/WorkPlace.astro';
---

<Layout title="Yarden Regev">
	<header><Navbar /></header>
		<main>
			<section class="about">
				<img src='linkedin_photo.jpeg' alt='profile picture'/>
				<article>
					<p>Hi!, I'm Yarden Regev</p>
					<Title text='Software Developer'/>
					<Title text='3 years of experience'/>
					<SecondaryTitle text='C C++ Python JavaScript'/>
				</article>
			</section>
			<section class="work-experience">
				<Title text='Work Experience'/>
				<WorkPlace
					title="Software Developer"
					workplaceName="Cellium"
					icon = "cellium_logo.jpg"
					startDate = "2022"
					endDate = "2024"
					description = "Developed embedded software for cutting-edge signal relay devices that extend 5G and wireless coverage to areas with poor reception, such as parking lots and underground facilities. Played a key role in the full-stack development of a web platform for remote monitoring and control of deployed systems, ensuring real-time performance tracking and seamless management."
					website = "https://www.linkedin.com/company/cellium/"
				/>
			</section>

			<section class="skills">
				<Title text='Skills & Technologies'/> <!-- TODO Consider changing this to experience rather than skills and technologies -->
				<section>
				<!-- TODO Add card for each skill, programming language -->
					<SkillCard 
						title='Frontend Development'
						description='Developing websites with JavaScript, React, and Astro'
						icon='/design.svg'
					/>
					<SkillCard 
						title='Backend Development'
						description=' Developing APIs with JavaScript and Python'
						icon='/server.svg'
					/>
					<SkillCard 
						title='Databases'
						description='Databases like PostgreSQL and MongoDB.'
						icon='/database.svg'
					/>
				</section>
			</section>
			<!-- TODO Add education and certifications section -->
			<section class="projects">
				<Title text='Projects'/>
				<section>
					<ProjectCard 
					title='My Project #1'
					description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
					link='#'
					/>
					<ProjectCard 
						title='My Project #2'
						description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
						link='#'
					/>
					<ProjectCard 
						title='My Project #3'
						description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
						link='#'
					/>
				</section>
				
			</section>
		</main>
		<Footer />
</Layout>

<style>
	main {
		margin: 50px auto 0 auto;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 100%;
		height: calc(100vh - 50px);
		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0 20px;
	}

	.about > img {
		width: 150px;
		border-radius: 9999px;
		object-fit: cover;
	}

	.about > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about > article > p {
		color: #1e1e1e;
		font-style: italic;
	}

	.work-experience {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.work-experience > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}


	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.projects {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.projects > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}

	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}

		.about > img {
			width: 100px;
		}
	}
</style>
