---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Title from "../components/Title.astro";
import SecondaryTitle from '../components/SecondaryTitle.astro';
import WorkPlace from '../components/WorkPlace.astro';
import EducationCard from '../components/EducationCard.astro';

const projects = [
	{
		title:"C++ Multiplayer Card Game",
		description:"A multiplayer C++ CLI game that connects players across a TCP network for seamless cross-computer gameplay.",
		tech:["C++", "Linux","Multithreading","OOP", "TCP/IP"],
		image:"card_game_screenshot.webp",
		repo: "https://github.com/Yardenregev/pirates_speed_game"
	}
]

const skills = [
	{
		title:"C",
		description:`
			Developed and optimized high-performance <strong>embedded software</strong> features.<br />
            Worked in a <strong>real-time operating system (RTOS)</strong> environment.<br />
            Focused on <strong>performance-oriented design</strong> and <strong>efficient resource management</strong>.
        `
	},
	{
		title:"C++",
		description: `
            Designed and implemented <strong>complex C++ features</strong> using <strong>OOP</strong> and the <strong>STL</strong>.<br />
            Optimized for <strong>performance, memory usage, and concurrency</strong> in high-complexity systems.<br />
            Worked with <strong>modern C++</strong> features to enhance efficiency.
        `
	},
	{
		title:"Python",
		description:`
            Developed <strong>scalable Django applications</strong> with optimized architecture.<br />
            Designed <strong>efficient database models</strong> for maintainability and performance.<br />
            Implemented <strong>reusable views and optimized controller logic</strong>.
        `
	}
]

const work_experiences = [
	{
		title:"Software Developer",
		workplaceName:"Cellium",
		icon : "cellium_logo.jpg",
		startDate : "2022",
		endDate : "2024",
		description : `
		Developed <strong>embedded software</strong> for cutting-edge signal relay devices that extend <strong>5G and wireless coverage</strong> to areas with poor reception, such as parking lots and underground facilities.
		<br/>Played a key role in the <strong>full-stack development</strong> of a web platform for remote monitoring and control of deployed systems, ensuring real-time performance tracking and seamless management.`,
		website : "https://www.linkedin.com/company/cellium/"
	},
	{
		title:"Software Developer",
		workplaceName:"InfinityLabs R&D",
		icon : "infinitylabs_rd_logo.jpg",
		startDate : "2021",
		endDate : "2022",
		description : `
		Gained hands-on experience in <strong>C and C++</strong> programming, system programming, and <strong>Linux</strong> tools.
		<br/>Applied <strong>OOP, data structures, and algorithms</strong> to solve problems.
		<br/>Developed <strong>networking software with TCP/IP</strong>, and optimized performance through <strong>multithreading.</strong>
		<br/>Worked in an <strong>Agile</strong> environment, honing skills in time estimation, effort optimization, and team collaboration.
		<br/> Strengthened soft skills like communication and technology research.`,
		website : "https://go.ilrd.co.il/lindn"
	}
]

const educations = [
	{
		title:"AWS Certified Developer - Associate",
		school:"Amazon Web Services (AWS)",
		date:"2024",
		icon:"amazon_web_services_logo.jpg",
		link : "https://www.credly.com/badges/362fb61c-683e-41ce-a053-d92cb0a4e450/linked_in?t=skf0u1",
	},

	{
		title:"Software Developer",
		school:"InfinityLabs R&D",
		date:"2021",
		icon:"infinitylabs_rd_logo.jpg",
		link : "infinity_cert.pdf",
	}

]

const contact = {
	linked_in:"https://www.linkedin.com/in/yarden-regev-6613261b7",
	github:"https://github.com/Yardenregev",
	resume:"yarden_regev_resume.pdf",
	email:"yardenregev11@gmail.com"
}
---

<Layout title="Yarden Regev">
	<header><Navbar {...contact}/></header>
		<main>
			<section class="about">
				<img src='linkedin_photo.jpeg' alt='profile picture'/>
				<article>
					<p>Hi!, I'm Yarden Regev</p>
					<Title text='Software Developer'/>
					<Title text='3 years of experience'/>
					<SecondaryTitle text='C, C++, Python'/>
				</article>
			</section>
			<section class="work-experience">
				<Title text='Work Experience'/>
				{work_experiences.map((work_experience) => (
					<WorkPlace {...work_experience} />
				  ))}
			</section>

			<section class="skills">
				<Title text='Skills & Technologies'/>
				<section>
					{skills.map((skill) => (
						<SkillCard {...skill} />
					  ))}
				</section>
			</section>

			<section class="education">
				<Title text='Education & Certifications'/>
				{educations.map((education)=>(
					<EducationCard {...education} />	
				))}
			</section>
			<section class="projects">
				<Title text='Software Projects'/>
				<section>
					{projects.map((project) => (
						<ProjectCard {...project} />
					  ))}
				</section>
				
			</section>
		</main>
		<Footer {...contact}/>
</Layout>

<style>
	main {
		margin: 50px auto 0 auto;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 100%;
		height: calc(100vh - 50px);
		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0 20px;
	}


	.about > img {
		width: 150px;
		border-radius: 9999px;
		object-fit: cover;
	}

	.about > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about > article > p {
		color: #1e1e1e;
		font-style: italic;
		font-size: 24px;
	}

	.work-experience {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.work-experience > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.education {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.education > section {
    display: flex;
    flex-direction: column; /* Stack items neatly */
    align-items: flex-start; /* Align all items to the left */
    gap: 40px;
    width: 100%;
    max-width: 800px; /* Keeps it readable */
}


	.skills { 
		display: flex;
		flex-direction: column;
		gap: 40px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Lighter contrast for subtle separation */
		padding: 0px 20px 100px 20px;
		text-align: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);

	}

	.skills > section {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Responsive grid */
		gap: 30px;
		justify-content: center;
		max-width: 1200px; /* Prevents too much stretching on wide screens */
		width: 100%;
	}


	.projects {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.projects > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}

	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}

		.about > img {
			width: 100px;
		}
	}
</style>
